@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    margin: 0;
    background-color: rgb(246, 249, 250);
    // background-color: #f0f0f0;
    font-family: sans-serif;

}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    // font-family:inherit;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


#loading-modal{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgb(219, 219, 219);
    div{
      width: 10rem;
      height: 10rem;
      background-image: url("../../../media/loading.gif");
      background-size: cover;
    }
}

